body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin: 0;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 10px;
  border: 2px solid #4CAF50;
}